.NewsSlider .react-multi-carousel-item {
  left: 40px;
}
.NewsSlider .react-multi-carousel-item .MuiGrid-item {
  margin: 10px;
}

@media screen and (max-width: 600px){
  .NewsSlider .react-multi-carousel-item {
    left: unset !important;
  }
}

