.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px);
}
.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px);
}
.css-13i4rnv-MuiGrid-root .MuiCard-root.MuiBox-root {
  margin: auto !important;
}

@media screen and (max-width: 450px) {
  .react-multiple-carousel__arrow {
    min-width: 25px;
    min-height: 25px;
  }
  .react-multiple-carousel__arrow::before {
    font-size: 15px;
  }
}
