.home_page_reviews {
  background: yellow;
}
.home_page_reviews > .react-multiple-carousel__arrow--left {
  left: calc(0% + 1px);
}
.home_page_reviews > .react-multiple-carousel__arrow--right {
  right: calc(0% + 1px);
}
.home_page_reviews.css-13i4rnv-MuiGrid-root .MuiCard-root.MuiBox-root {
  margin: auto !important;
}
/* .home_page_reviews iframe {
  height: 100%;
} */
@media screen and (max-width: 450px) {
  .home_page_reviews > .react-multiple-carousel__arrow {
    min-width: 25px;
    min-height: 25px;
  }
  .home_page_reviews > .react-multiple-carousel__arrow::before {
    font-size: 15px;
  }
}
