.SearchMargin {
  margin-right: 10px;
}
.itemPrice {
  position: absolute;
  right: 10px;
  top: 10px;
}
.tabimg {
  background-size: contain;
}

.tabcards h6 {
  line-height: 1;
  font-size: 0.9em;
}
.tabcards span {
  font-size: 0.9em;
}
.tabs {
  background-color: transparent;
  background: transparent;
  box-shadow: none;
  padding: 10px 0;
}
.shomob {
  display: none;
}
.SearchMargin {
  border: 1px solid #dddddd;
  border-radius: 50px;
  margin-bottom: 10px;
}
.SearchMargin .MuiInput-underline:before {
  border: none;
}
.SearchMargin .MuiInputAdornment-root {
  margin-top: -15px;
}

.SearchMargin .MuiInputLabel-formControl {
  top: 20px;
  left: 10px;
  transform: none;
}

@media screen and (max-width: 450px) {
  .shomob {
    width: 100%;
    display: block;
  }
  .shodesk {
    display: none;
  }
  .SearchMargin {
    border: 1px solid #dddddd;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  .SearchMargin .MuiInput-underline:before {
    border: none;
  }
  .boxBtnSearch {
    display: block;
  }
  .regBtn {
    margin: 10px auto;
    width: 100%;
  }
  .Mui-selected {
    border-bottom: 2px solid #aa0303;
  }
}
