.HeroWrapper{
  padding-top: 0 !important;
}

.HeroImg .HeroPlay {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 1;
}
.posterImg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.HeroWrapper .subtitle p {
  font-size: 1.1rem ;
  line-height: 1.4 ;
}

.open {
  display: none;
}
.HeroImg {
  position: relative;
  top: 0;
  /* top: -100px; */
}
.HeroImg > div:first-child {
  position: absolute;
  /* top: 100px; */
  height: 100%;
  width: 100%;
  z-index: 10;
  box-shadow: none;
}
.HeroImg .MuiCard-root {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: none !important;
  background-color: #f7f9fc !important;
  z-index: 100;
}

.HeroClose {
  cursor: pointer !important;
}

.HeroBtn {
  margin-top: 10px;
  background-color: #aa0303;
  color: #ffffff;
  border-radius: 25px;
}

@media screen and (min-width: 450px) {
  .HeroBtn {
    margin-left: 0;
    margin-top: 0;
    padding: 15px 25px;
  }
}
