#footer {
  background: #ffffff;
  color: #3a3a3a;
}

#footer #footer-cta {
  text-align: center;
  margin: 50px auto;
  padding: 10px 20px;
}

#footer #footer-cta p {
  margin: 10px auto;
  font-size: 1.08rem;
}

#footer #footer-cta a,
#footer #footer-cta a:active {
  vertical-align: middle;
  padding: 0.8rem 1em;
  transition: background-color 0.55s ease-out, color 0.55s ease-out;
  letter-spacing: 3px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-family: "Oswald", sans-serif;
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 20px auto;
  width: 100%;
  border: 1px solid #ffffff;
  background: #aa0304;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}

#footer #footer-cta a:focus,
#footer #footer-cta a:hover {
  background: #ffffff;
  color: #aa0304;
  text-decoration: none;
}

#footer-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#footer address {
  font-size: 1.15rem;
  line-height: 1.6rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

#footer #map {
  margin: 0 auto 1.3rem;
  padding: 0 20px;
}

#address {
  padding: 0 20px;
  text-align: center;
}

#address p {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#footer-navigation {
  width: 100%;
  margin: 0 auto;
}

#footer-navigation ul {
  list-style-type: none;
  margin-left: 0;
}

#footer-navigation > div {
  text-align: center;
  width: 100%;
  padding: 10px 20px;
}

#footer span {
  display: block;
}

#footer a {
  color: #3a3a3a;
  text-decoration: none;
}

ul.footer-main-menu li a {
  font-size: 1rem;
  color: #3a3a3a;
  margin: 10px 0;
  padding: 10px 0;
  line-height: 1.5;
  text-decoration: none;
}

#footer .s-navigation {
  margin: 1rem 0;
  display: inline-flex;
}

#footer .s-navigation li {
  list-style-type: none;
  margin: 0 1.8rem 0 0;
  font-size: 3rem;
}

#footer .s-navigation li:last-child {
  margin: 0;
}

.footer-header {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.99rem;
}

.footer-menu-items-wrapper {
  margin-bottom: 1.3rem;
}

#s-partners {
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
}

#s-partners a {
  margin: 10px 0;
  display: block;
  padding: 20px;
}

#map a img,
#s-partners a img {
  filter: gray; /* IE */
  -webkit-filter: grayscale(1); /* Old WebKit */
  -webkit-filter: grayscale(100%); /* New WebKit */
  filter: grayscale(100%); /* Current draft standard */
  transition: all 0.4s ease-in;
  margin: 0 auto;
}

#map a img:hover,
#s-partners a img:hover {
  filter: none; /* IE */
  -webkit-filter: grayscale(0); /* Old WebKit */
  -webkit-filter: grayscale(0); /* New WebKit */
  filter: grayscale(0); /* Current draft standard */
  cursor: pointer;
}

#copyright {
  display: block;
  text-align: center;
  padding: 20px;
}

#footer .s-navigation {
  margin: 1rem 0;
  display: inline-flex;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 15px;
  line-height: 1.3;
}
#footer .s-navigation li {
  list-style-type: none;
  margin: 0 1.8rem 0 0;
  font-size: 3rem;
}

@media screen and (min-width: 48em) {
  #footer-navigation {
    display: flex;
    width: 50%;
    margin: 0;
  }
}

@media screen and (min-width: 64em) {
  #s-partners {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #footer-container {
    width: 61rem;
    max-width: 100%;
  }
}

@media screen and (min-width: 75em) {
  #footer-container {
    width: 72rem;
    max-width: 100%;
  }
}
