.HeroBtn {
  margin-top: 10px !important;
  background-color: #aa0303 !important;
  color: #ffffff !important;
  border-radius: 25px !important;
}

@media screen and (min-width: 450px) {
  .HeroBtn {
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding: 15px 25px !important;
  }
}
