@import url('//fonts.googleapis.com/css?family=Lato|Oswald');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&display=swap');

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.woff") format("woff");
}

@font-face {
  font-family: "ovsicon";
  src: url("/fonts/ovsicon.woff") format("woff");
}

:root {
  --easing-normal: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  font-size: 18px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lato", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif; */
}

body {
  line-height: 1;
}

h1, h2, h3{
  font-family: Inter, sans-serif !important;
  font-weight: 700 !important;
  color: #3a3a3a !important;
}

p,
li,
strong,
body {
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

#menu > div ul.nav-main-menu {
  padding: 0;
  margin: 0;
}
.jss1,
.MuiBox-root-1 {
  padding-top: 0px !important;
}
  
.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px);
}
.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px);
}
.css-13i4rnv-MuiGrid-root .MuiCard-root.MuiBox-root {
  margin: auto !important;
}

/*Hero Styles*/
.css-1bn53lx,
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 25px !important;
  margin-right: 5px !important;
}
.MuiTabs-indicator,
.PrivateTabIndicator-colorPrimary{
  background: #AA0303 !important;
  background-color: #AA0303 !important;
}
.MuiCircularProgress-colorPrimary,
.MuiTab-textColorPrimary.Mui-selected,
.red-count-up{
  color: #AA0303 !important;
}
/*End of Hero Styles*/

/*Red button*/
.jss77 button.MuiButton-contained,
.MuiButton-containedPrimary, 
.jss79,
.MuiBox-root-79,
.redBtn{
  color: #ffffff !important;
  background-color: #aa0303 !important;
  margin: 5px !important;
}


/*Yellow Button*/
.MuiButton-containedSecondary{
  color: #ffffff !important;
  background-color: #f9b934 !important;
  margin: 5px !important;
}

/*Yellow Text*/
.MuiTypography-colorSecondary{
  color: #f9b934 !important;
}

/*Rounded Search field*/
.SearchMargin {
  border: 1px solid #dddddd !important;
  border-radius: 50px !important;
  margin-bottom: 10px !important;
}
.SearchMargin .MuiInput-underline:before{
  border: none !important;
}
.SearchMargin .MuiInputAdornment-root{
  margin-top: -15px !important;
}

.SearchMargin .MuiInputLabel-formControl {
  top: 20px !important;
  left: 10px !important;
  transform: none !important;
}
.jss81 p,
.jss82 p{
  font-size: 0.9rem !important;
}

.jss78 .MuiButton-containedSecondary{
  margin-right: 10px !important;
}
.MuiBox-root-90,
.jss90{
  width: 450px !important;
  height: 400px !important;
}
.MuiTypography-body2{
  font-size: .7rem !important;
} 
.MuiBox-root-91,
.jss91,
.MuiBox-root-92,
.jss92,
.MuiBox-root-92 .MuiPaper-rounded,
.jss92 .MuiPaper-rounded,
.video2 .MuiPaper-rounded,
.MuiBox-root-101,
.jss101,
.MuiBox-root-102,
.jss102,
.MuiBox-root-103,
.jss103,
.MuiBox-root-103 .MuiPaper-rounded,
.jss103 .MuiPaper-rounded{
  height: 100% !important;
}

.MuiBox-root-100 .MuiPaper-root,
.jss100 .MuiPaper-root{
  width: 100% !important;
  height: 400px !important;
}

.TeamSlider .MuiGrid-item{
  border-radius: 10px !important;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  height: 400px;
}
.revBody{
  min-height: 150px !important;
}
.MuiBox-root-72,
.jss72{
  margin-top: 150px !important;
}
#footer-cta{
  display: none !important;
}
.vidRevBox{
  background-color: #ffffff !important;
}

.subject p{
  font-size: .8em !important;
}

.MuiBox-root-462{
  z-index: -100 !important;
}

.NewsSlider li{
  background-color: #f7f9fc !important;
  padding: 10px !important;
  margin: 10px !important;
  min-height: 425px !important;
}
@media screen and (max-width: 780px) {
  p, li, strong, body{
    font-size: 1rem !important;
  }
  #top-main{
    padding: 10px !important;
  }
  .MuiTypography-h3{
    font-size: 1.8rem !important;
  }
  .MuiTypography-h4{
    font-size: 1.4rem !important;
  }
  .MuiTypography-h2,
  .css-18oppor,
  .css-8y3088-MuiTypography-root{
    font-size: 2rem !important;
    line-height: 0 !important;
    text-align: left !important;
  }  
  .css-1pve29y-MuiTypography-root span{
    font-size: 1.8rem !important;
    line-height: 0 !important;
  }  
  .css-1bn53lx,
  .css-i44wyl,
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .css-10vjzfb-MuiButtonBase-root-MuiButton-root{
    margin-left: 0 !important;
  }
  .css-1ekasd5,
  .css-1tp3ba8-MuiGrid-root{
    min-height: 400px !important;
  }
  .MuiTabs-flexContainer{
    flex-wrap: wrap !important;
  }
  .MuiCardContent-root p{
    font-size: .8rem !important;
  }
  .MuiGrid-item .MuiCardContent-root{
    min-height: 120px !important;
  }
  .boxBtnSearch .SearchMargin{
    width: 60% !important;
    margin-right: 10px !important;
  }
  .vertList .MuiTimelineItem-alignLeft::before{
    display: none !important;
  }
  .MuiBox-root-72,
  .jss72{
    clear: both !important;
    display: block !important;
  }
    .jss79,
  .MuiBox-root-79{
    margin-top: 5px !important;
  }
  .jss80
  .MuiBox-root-80{
    align-content: center !important;
    justify-content: center !important;
  }
  .MuiBox-root-90,
  .jss90{
    width: 450px !important;
    height: 400px !important;
  }
  .MuiTabs-indicator{
    display: none !important;
  }
}
@media screen and (max-width: 600px){
  .boxBtnSearch .SearchMargin{
    width: 100% !important;
    margin-right: 0 !important;
  }
  .MuiBox-root-72,
  .jss72{
    margin-top: 50px !important;
  }
  .jss83,
  .MuiBox-root-83{  
    left: 27% !important;
  }
  .jss81,
  .MuiBox-root-81{  
    top: 200px !important;
    left: 20% !important;
  }
  .jss80,
  .MuiBox-root-80{
    height: 730px !important;
  }
  .jss85,
  .MuiBox-root-85{
    left: 5% !important;    
  }
}
@media screen and (max-width: 450px) {
  .react-multiple-carousel__arrow {
    min-width: 25px;
    min-height: 25px;
  }
  .react-multiple-carousel__arrow::before {
    font-size: 15px;
  }
  .MuiBox-root-90{
    width: 300px !important;
    height: 280px !important;
  }
}

.MuiPaper-elevation1.MuiPaper-elevation1 {
  box-shadow: none;
}
