@import url(//fonts.googleapis.com/css?family=Lato|Oswald);

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.woff") format("woff");
}

@font-face {
  font-family: "ovsicon";
  src: url("/fonts/ovsicon.woff") format("woff");
}

:root {
  --easing-normal: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  font-size: 18px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lato", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif; */
}

body {
  line-height: 1;
}

p,
li,
strong,
body {
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

#menu > div ul.nav-main-menu {
  padding: 0;
  margin: 0;
}

.react-multiple-carousel__arrow--left {
  left: calc(0% + 1px);
}
.react-multiple-carousel__arrow--right {
  right: calc(0% + 1px);
}
.css-13i4rnv-MuiGrid-root .MuiCard-root.MuiBox-root {
  margin: auto !important;
}
@media screen and (max-width: 450px) {
  .react-multiple-carousel__arrow {
    min-width: 25px;
    min-height: 25px;
  }
  .react-multiple-carousel__arrow::before {
    font-size: 15px;
  }
}
